extends layout
block content
  section.example-layout
    h4 demonstration of hiding elements

    header
      h2 Lorem ipsum
    .sidebar.hidden-xs
      p.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Poterat autem inpune; Quae quo sunt excelsiores, eo dant clariora indicia naturae. Theophrastus mediocriterne delectat, cum tractat locos ab Aristotele ante tractatos? Cur igitur easdem res, inquam, Peripateticis dicentibus verbum nullum est, quod non intellegatur? Item de contrariis, a quibus ad genera formasque generum venerunt. In quibus doctissimi illi veteres inesse quiddam caeleste et divinum putaverunt. Duo Reges: constructio interrete. Quid enim possumus hoc agere divinius?
        Teneo, inquit, finem illi videri nihil dolere.
    .content
      p.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Poterat autem inpune; Quae quo sunt excelsiores, eo dant clariora indicia naturae. Theophrastus mediocriterne delectat, cum tractat locos ab Aristotele ante tractatos? Cur igitur easdem res, inquam, Peripateticis dicentibus verbum nullum est, quod non intellegatur? Item de contrariis, a quibus ad genera formasque generum venerunt. In quibus doctissimi illi veteres inesse quiddam caeleste et divinum putaverunt. Duo Reges: constructio interrete. Quid enim possumus hoc agere divinius?
        Teneo, inquit, finem illi videri nihil dolere. Satisne vobis videor pro meo iure in vestris auribus commentatus? Quid enim me prohiberet Epicureum esse, si probarem, quae ille diceret? Dic in quovis conventu te omnia facere, ne doleas. Aliter enim nosmet ipsos nosse non possumus. Ita fit cum gravior, tum etiam splendidior oratio. Quam tu ponis in verbis, ego positam in re putabam. Cum salvum esse flentes sui respondissent, rogavit essentne fusi hostes.
        Nummus in Croesi divitiis obscuratur, pars est tamen divitiarum. Eorum enim est haec querela, qui sibi cari sunt seseque diligunt. Animi enim quoque dolores percipiet omnibus partibus maiores quam corporis. Quis enim potest ea, quae probabilia videantur ei, non probare? Sin aliud quid voles, postea. Sed in rebus apertissimis nimium longi sumus. Hoc enim constituto in philosophia constituta sunt omnia.
        Vos autem cum perspicuis dubia debeatis illustrare, dubiis perspicua conamini tollere. Habes, inquam, Cato, formam eorum, de quibus loquor, philosophorum. Si enim ita est, vide ne facinus facias, cum mori suadeas. Sed eum qui audiebant, quoad poterant, defendebant sententiam suam.
        Sumenda potius quam expetenda. Utilitatis causa amicitia est quaesita.