extends layout
block content
  section
    h4 Demonstration of Breakpoints by Device Type

    .row.breakpoint-demo
      .col-lg-4
        p large desktop
      .col-lg-4
        p large desktop
      .col-lg-4
        p large desktop
      .col-lg-4
        p large desktop
      .col-lg-4
        p large desktop
      .col-lg-4
        p large desktop
    .row.breakpoint-demo
      .col-md-4
        p medium desktop
      .col-md-4
        p medium desktop
      .col-md-4
        p medium desktop
      .col-md-4
        p medium desktop
      .col-md-4
        p medium desktop
      .col-md-4
        p medium desktop
    .row.breakpoint-demo
      .col-sm-4
        p tablet
      .col-sm-4
        p tablet
      .col-sm-4
        p tablet
      .col-sm-4
        p tablet
      .col-sm-4
        p tablet
      .col-sm-4
        p tablet
    .row.breakpoint-demo
      .col-xs-4
        p cellphone
      .col-xs-4
        p cellphone
      .col-xs-4
        p cellphone
      .col-xs-4
        p cellphone
      .col-xs-4
        p cellphone
      .col-xs-4
        p cellphone
  section
    h4 Demonstration of grid
      .row.breakpoint-demo
        .col-sm-2
          p Item
        .col-sm-2
          p Item
        .col-sm-2
          p Item
        .col-sm-2
          p Item
        .col-sm-2
          p Item
        .col-sm-2
          p Item
        .col-sm-2
          p Item
        .col-sm-2
          p Item
        .col-sm-2
          p Item
        .col-sm-2
          p Item
        .col-sm-2
          p Item
        .col-sm-2
          p Item
        .col-sm-2
          p Item
        .col-sm-2
          p Item
        .col-sm-2
          p Item
        .col-sm-2
          p Item
        .col-sm-2
          p Item
        .col-sm-2
          p Item
        .col-sm-2
          p Item
        .col-sm-2
          p Item
        .col-sm-2
          p Item
        .col-sm-2
          p Item
        .col-sm-2
          p Item
        .col-sm-2
          p Item
        .col-sm-2
          p Item
        .col-sm-2
          p Item
        .col-sm-2
          p Item
        .col-sm-2
          p Item
        .col-sm-2
          p Item
        .col-sm-2
          p Item